name: spent_time_focus
description: "Flow: Focus & Screen Time - Ekran süresi takip ve dijital farkındalık uygulaması"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter

  # Fonts
  google_fonts: ^6.2.1
  
  # Icons
  cupertino_icons: ^1.0.8
  usage_stats: ^1.3.1
  shared_preferences: ^2.2.2
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  home_widget: ^0.8.1
  flutter_local_notifications: ^19.5.0
  workmanager: ^0.7.0
  share_plus: ^12.0.1
  screenshot: ^3.0.0
  flutter_native_splash: ^2.4.4
  flutter_localizations:
    sdk: flutter
  intl: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  flutter_launcher_icons: ^0.13.1

flutter_launcher_icons:
  android: "ic_launcher"
  ios: true
  image_path: "assets/Gemini_Generated_Image_4dn3si4dn3si4dn3-Photoroom.png"
  min_sdk_android: 21 # android min sdk min:16, default:21

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/images/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

flutter_native_splash:
  color: "#ffffff"
  image: "assets/Gemini_Generated_Image_4dn3si4dn3si4dn3-Photoroom.png"
  android_12:
    image: "assets/Gemini_Generated_Image_4dn3si4dn3si4dn3-Photoroom.png"
    icon_background_color: "#ffffff"
  ios: true
